*{
  font-family: courier, sans-serif;
  padding:0;
  margin:0;
}
header, footer{
  margin: 0 auto;
  padding:5px;
  text-align: center;
  background-color: lightblue;
  width: 100%;
}
header{
  border-bottom: 5px solid lightgrey;
}
footer{
  border-top: 5px solid lightgrey;
}
body{
  text-align: center;
  background-color: beige;
}
body p{
  padding: 15px;
  margin: 0 auto;
  display:block;
  width:300px;
}
.wrapperInner{
  height: 100%;
  margin: 0 auto;
  max-width: 90%;
}
.wrapperInner p{
  padding: 20px;
}
footer{
  padding: 1em;
  position: absolute;
  bottom: 0px;
  
}
footer a{
  padding:.5em;
  color: white;
  text-decoration: none;
}
footer a:hover{
  border-radius: 1em;
  background-color: white;
  color:green;
  position: relative;
  bottom: 4px;
}